 
p{
font-size: 20px;
text-align: center;

 }
 #table li a{
list-style-type: none;
font-size: 25px;
 }
 

 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:palevioletred;
  
}

li {
  float: right;
}
.about{
  display: flex;
  flex-direction: row;
  padding: 60px;
  text-align: center;
  background-color:beige;
}


li a {
  display: block;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color:blanchedalmond;
  
}
li:first-child{
    float: left;
}

h1{
  font-size: 30px;
  text-align: center;
  color: palevioletred;
  

}
img{
  width: 900px;
  margin-left: 100px;
  height: 400px;
  
}

.contenu-img{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:beige;
  
  
}
h2{
  font-size: 30px;

  

}
.paragraphe{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  background-color: beige;

}
.content-image{

  display:flex;
  flex-direction: row;
  justify-content:space-between;
 background-color: beige;
 
 
}
 

  
.image1{
  align-items: center;
  margin:auto;
}
footer{
  text-align: center;
  background-color:palevioletred;
  height: 70px;
  padding-top: 50px;
  border-top: 10px solid beige;
}
 
 .image1{
  margin-left:-60px;
  
 }
.message{
  text-align: center;
}
.submit{
  text-align: center;
}
footer p{
  margin-top: 40px;
  color:white;
}


.p2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

  .ajouter form input {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid palevioletred;
    outline: none;
    border-radius: 30px;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 2%;

}
.ajouter form textarea {
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 2px solid palevioletred;
  outline: none;
  align-items: center;
  margin-bottom: 5%;
  margin-top: 2%;
}
button {
  background-color: palevioletred;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .4s;
}
.adress{
  margin-right: 100px;
  background-color:beige;

}
h3{
  margin-left: 80px;
  color: palevioletred;
}
.p1{
  background-color: beige;
}
#table{
 position: fixed; 
 width: 100%;
 top:0px;
}


.about-title{
  margin-top: 70px;
}